<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .children {
            color:blue;
        }
        .adult {
            color: green;
        }
    </style>
</head>
<body>

    <p class="adult" th:if="${age} >= 20" th:text="${age} +'(세)는 성인입니다.'" ></p>
    <p class="children" th:unless="${age} >= 20" th:text="${age} +'(세)는 미성년자입니다.'" ></p>

<!--    <p th:if="${agePrint.getAge()} < 20"  th:text="${agePrint.getAge()} + '세는 미성년자 입니다.'"></p>-->
<!--    <p th:unless="${agePrint.getAge()} < 20" th:text="${agePrint.getAge()} + '세는 성인입니다.'"></p>-->

    <table style="3px solid">
        <thead>
           <tr>
               <th>이름</th>
               <th>나이</th>
           </tr>
        </thead>
        <tr th:each="person:${persons}">
            <td th:text="${person.getName()}"></td>
            <td th:text="${p{erson.getAge()}"></td>
        </tr>
    </table>
</body>
</html>