<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rest API</title>
</head>
<body>
    <h1>======= GET 요청 ======</h1>
    <div style="display: flex">
        <form action="/get/res1" method="get" style="margin-right: 20px">
            <h3>Get 전송 (required = true)</h3>
            이름 : <input type="text" name="name">
            나이 : <input type="text" name="age">
            <br>
            <button>Get 전송</button>
        </form>
        <form action="/get/res2" method="get" style="margin-right: 20px">
            <h3>Get 전송 (required = false)</h3>
            이름 : <input type="text" name="name">
            나이 : <input type="text" name="age">
            <br>
            <button>Get 전송</button>
        </form>
        <div style="margin-right: 20px;">
            <h3>Get 전송 - ~/{param1}/{param2}</h3>
            <a href="/get/res3/홍길동/20">
                get/res3/홍길동/20
            </a>
            <br>
            <a href="/get/res3/홍길동">
                get/res3/홍길동 (error, 경로 변수 값 필수 확인)
            </a>
        </div>
        <div style="margin-right: 20px;">
            <h3>Get 전송 - ~/{name}, ~{name}/{age}</h3>
            <a href="/get/res4/바나나">
                get/res3/바나나
            </a>
            <br>
            <a href="/get/res4/바나나/1">
                get/res4/바나나/1
            </a>
        </div>
        <div style="margin-right: 20px;">
            <h3>Prac01</h3>
            <a href="/introduce/홍길동">
                실습 1번
            </a>
        </div>
        <div style="margin-right: 20px;">
            <h3>Prac01</h3>
            <a>
                실습 2번
            </a>
        </div>
    </div>

    <hr>
    <h1>============ Post 요청 ============</h1>
    <form action="/post/res1" method="post" style="margin-right: 20px">
        <h3>Post 전송 (required = true)</h3>
        이름 : <input type="text" name="name">
        나이 : <input type="text" name="age">
        <br>
        <button>Post 전송</button>
    </form>
    <form action="/post/res2" method="post" style="margin-right: 20px">
        <h3>Post 전송 (ResponseBody)</h3>
        이름 : <input type="text" name="name">
        나이 : <input type="text" name="age">
        <br>
        <button>Post 전송</button>
    </form>
    <form action="/post/res3" method="post" style="margin-right: 20px">
        <h3>Post 전송 </h3>
        이름 : <input type="text" name="name">
        나이 : <input type="text" name="age">
        <br>
        <button>Post 전송</button>
    </form>
    <form action="/post/prac01" method="post">
        <h1>폼 전송 - 실습</h1>
        <label>이름</label><input type="text" name="name">
        <br>
        <label>성별</label>
        <input name="gender" type="radio" value="남자">남자
        <input name="gender" type="radio" value="여자">여자
        <br>
        <label>생년월일</label>
        <select>
            <option name="year" value="1970">1970</option>
            <option name="year" value="1971">1971</option>
        </select>년
        <select>
            <option name="month" value="1">1</option>
            <option name="month" value="2">2</option>
        </select>월
        <select>
            <option name="day" value="1">1</option>
            <option name="day" value="2">2</option>
        </select>일
        <br>
        <label>관심사</label>
        <input type="checkbox" name="hobby" value="여행">여행
        <input type="checkbox" name="hobby" value="패션">패션
        <input type="checkbox" name="hobby" value="음식">음식
        <br>
        <button type="submit">회원가입</button>
    </form>


    <hr>
    <h1>============= DTO 이용 =============</h1>
    <h1>======= GET 요청 ======</h1>
    <div style="display: flex">
        <form action="/dto/res1" method="get" style="margin-right: 20px">
            <h3>Get - DTO</h3>
            이름 : <input type="text" name="name">
            나이 : <input type="text" name="age">
            <br>
            <button>Get 전송</button>
        </form>
        <form action="/dto/res2" method="post" style="margin-right: 20px">
            <h3>Post - DTO</h3>
            이름 : <input type="text" name="name">
            나이 : <input type="text" name="age">
            <br>
            <button>Post 전송 (RequestBody X)</button>
        </form>
        <form action="/dto/res3" method="post" style="margin-right: 20px">
            <h3>Post - DTO</h3>
            이름 : <input type="text" name="name">
            나이 : <input type="text" name="age">
            <br>
            <button>Post 전송 (RequestBody O)</button>
        </form>
    </div>
</body>
</html>